#index{
    background: -webkit-linear-gradient(black 0%, crimson 50%, pink 100%);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    
}
#frase{
    width: 80%;
    position: relative;
    bottom:2%;
    display: inline-block;
    margin-left: 1%;
    text-align: center;

}
#frase h1{
    margin-left:12%;
    font-size: 1.4em;
    font-size-adjust: inherit;
    font-family: cursive;
    font-weight: bold;
    font-variant-caps: all-small-caps;
    color:rgb(238, 81, 102);
    -webkit-text-stroke: 1.5px rgb(22, 2, 16);
    width: 100%;
}
#ranking{
    background: -webkit-linear-gradient(black 0%, #32dbc6 50%, #2c778a 100%);
    height: 100%;
    background-repeat: no-repeat;
}
#contacto{
    background: -webkit-linear-gradient(black 0%, rgb(84, 221, 164)50%, rgb(231, 86, 171) 100%);
    height: 100%;
    background-repeat: no-repeat;
}
#favoritos{
    background: -webkit-linear-gradient(black 0%, rgb(233, 58, 58) 50%, pink 100%);
    height: 100%;
    background-repeat: no-repeat;
}
#logoinic{
    font-size: 100%;
    font-weight: bold;
    text-shadow: 2px 2px 8px crimson;
    color: black;
    font-variant: small-caps;
    margin-top: 5%;
}
#nombre{
    color: aliceblue;
    display: inline-block;
}
header{
    background-image: url(images/moon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 25rem;
    position: relative;
}
#comienzo{
    background-image: url(images/recuerdos.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 100%;
    height: 25rem;
}

#inicio{
    background-image: url(images/goblinGif.gif);
    background-repeat: no-repeat;
    background-size: 80%; 
    background-position: center;
    width: 100%;
    height: 25rem;
}
#principio{
    background-image: url(images/ashes.jpg );
    background-repeat: no-repeat;
    background-size: 80%; 
    background-position: center;
    width: 100%;
    height: 400px;
}
nav.home {
    background: -webkit-radial-gradient(grey 0%, crimson 50%,black 100%);  
}

nav.contact{
    background: -webkit-radial-gradient(grey 0%, rgb(47, 161, 114) 50%,black 100%);  
}
nav.rank{
    background: -webkit-radial-gradient(grey 0%, rgb(54, 174, 179) 50%,black 100%);  
}
nav.favorite{
    background: -webkit-radial-gradient(grey 0%, rgb(226, 176, 214) 50%,black 100%);  
}
form{
    margin-top: 50px;
}
.ranking{
    border: 2px solid black;
    width: 35%;
    margin-top: 2%;
    margin-left: 30%;
    font-size: 151%;
    text-align: center;
    color: black;
}
li{
    counter-increment: li;
    font-size: 139%;
    color: rgb(24, 99, 99);
    -webkit-text-stroke: 1px black;
    list-style: none;
    margin-left: 1.5em;
}
li::before{
    content: counter(li);
    color: black;
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
}
.table th{
    padding: 1%;
}
#generos{
    width: 50%;
    margin-left: 28%;
}

.publicidad{
    width: 100%;
    margin-top: 5%;
}
footer{
    background: rgb(27, 26, 26);
    text-align: center;
    padding: 10px 0;
}
footer a{
    color: #70726F;
    font-size: 2.5em;
    padding: 10px;
    border-right: 1px solid #70726F;
    transition: all .5s ease;
}
footer a:first-child{
    border-left: 1px splid #70726F;
}
footer a:hover{
    color: white;
}

.social{
    display: inline-block; 
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%; 
}
#captcha{
    background-color:white; 
    text-align: center;
    margin-right: 51%;
}
#txtDestacado{
    font-weight: bold;
    font-variant: small-caps;
    color: rgb(226, 176, 214);
    -webkit-text-stroke: 1px black;
}
.destacados{
    background:-webkit-linear-gradient( rgb(226, 176, 214) 0%, rgb(197, 126, 214) 100% )!important;
}
.myBtn {
    font-size:100%;
    background-color: blueviolet;
    color: white;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em black;
    width: 5em;
    height: 2.5em;
  }
  .myBtn:hover {
    background-color: pink;
  }
  .js-ocultar{
      display: none;
  }
  .js-mostrar{
      display: '';
  }
  .btn-outline-success{
      color: black;
      border-color: black;
  }
.btn-outline-success:hover{
    background-color: crimson;
    color:white;
    border-color: black;
}
 